{% load static %}
<link rel="stylesheet" href="{% static 'css/capstone.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">

<div class="section section-signup" style="background-image: url('https://img.freepik.com/free-vector/beautiful-white-bokeh-lights-effect-background_1017-24052.jpg?w=1800&t=st=1689532343~exp=1689532943~hmac=ba8e5106e6ece33fda123bf122c1a403917ea055dd10a2594857459c3078fae2'); background-size: cover; background-position: top center; min-height: 700px;">

  <div class="container">
    <div class="row">
      <div class="card card-signup" data-background-color="orange">
        <form class="form" method="POST" action=""> 
          <div class="card-header text-center">
            <h3 class="card-title title-up">Login Below</h3>
          </div>
          {% csrf_token %}
     
          {%for field in form %}
              <div>
                  <p>{{ field.label }}: <br> {{ field }}</p>
      
                  {% for error in field.errors %}
                      <small style="color: black">{{ error }}</small>
                  {% endfor %}
              </div>
          {% endfor %}
          <button class="btn btn-neutral btn-round btn-lg" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


