<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<link rel="stylesheet" href="capstone.css">
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">

  <div class="section section-signup" style="background-image: url('https://img.freepik.com/free-vector/beautiful-white-bokeh-lights-effect-background_1017-24052.jpg?w=1800&t=st=1689532343~exp=1689532943~hmac=ba8e5106e6ece33fda123bf122c1a403917ea055dd10a2594857459c3078fae2'); background-size: cover; background-position: top center; min-height: 700px;">
<!DOCTYPE html>
<!-- DOCTYPE indicates to the browser which version of html to use -->
<html>


<head>
    <!-- Metadata contained here -->
    <title>About Us</title>
    <!-- Open a browser and note how this is the name of the tab! -->
</head>

<body>
    <!-- This is where the content of the webpage is kept - between the body tags -->
    <h1>Who Are We?</h1>
    <!-- There are six different heading styles - h1 through h6.
		They each have different appearances. Play around and edit this file to see the difference between these heading elements. -->
    <!-- Note how the content below is displayed and separated on the screen -->
    <p>We are a new, up and coming polictial party operating acorss South Africa. Established in 2023, our founders are majority youth-aged with a range between 25-30 years old.
        We have decided to create this party and compete in elections because we are tired of being passer-bys when there are serious issues affecting our streets daily. We are a dedicated, 
        and focused group of individuals workings together with our community to raise awareness of the issues we face every day and creating solutions together.
        Our party is based on togetherness and with the belief that one person cannot change our country, but rather the efforts of the collective citizens.
    </p>
    <b>

    <h1>Our Objectives</h1>
    <ol>
        <li>Reduce the crime rate in the areas we operate in then move outwards to the next districts</li>
        <li>Create communities that are helpful and support one another</li>
        <li>Create more public facilities including parks and outside gyms</li>
        <li>Build more public schools and learning facicilities for children</li>
        <li>Erect a new library</li>
        <li>Ensure cleaner streets and roads that are pothole free</li>
        <li>Ensure that streetlamps are never non-functional</li>
    </ol>
    <b>

    <h1>How Can You Help Us?</h1>
    <ol>
        <li>Please comlete <a href="http://127.0.0.1:8000/polls/">this poll</a> so we can understand what is important to you</li>
        <li>Follow us on most major social media platforms</li>
        <li>We have community and charity drives every second Saturday, come join us! Details on our socials</li>
        <li>Spread the word that we exist. Tell a friend to tell a friend!</li>
        <li>We try to assist our community with job opportunities - if you know of any please do conatct us so we can share with our communitiy. Foward these to <a href="mailto:political@party.com">political@party.com</a></li>
        <li>Without you, we are nothing. We are in constant need for volunteers to assist us with rallies and chartity drives. if you are interested please contact us via any of our social media platforms</li>
        <li>As we are a growing non-profit organisation at the moment. Any monetary donations are welcome. Please email us if you would like to contribute <a href="mailto:political@party.com">political@party.com</a></li>
    </ol>
    <b>
<style>
body {
background-image: 
url("Pictures/background5.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}
</style>
</body>

<div class="section section-contact-us text-center">
    <div class="container">
      <h2 class="title">Sign Up To Our Newsletter:</h2>
      <p class="description">Your support matters to us!</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div class="input-group input-lg">
            <div class="input-group-prepend">
              </span>
            </div>
            <input type="text" class="form-control" placeholder="First Name...">
          </div>
          <div class="input-group input-lg">
            <div class="input-group-prepend">
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email...">
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send me the news!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
